
.grid{
    padding-left: 5%;
    display: grid;
    column-gap: 0.5rem;
    grid-template-columns: repeat(3,0.8fr);
    row-gap: 1rem;
}
/* dispaly for mobile */
@media screen and (max-width: 428px) {
    .grid{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        
    }
}